<div class="container">
  {{#md-card
     title=(t 'about.title')
     class="teal"
     titleClass="white-text"
     bodyClass="white-text"
     id="address-card"}}
    {{#md-card-content class="white-text"}}
      <p>{{t 'about.number'}}</p>
      <p>{{t 'about.street'}}</p>
    {{/md-card-content}}
  {{/md-card}}
</div>
