<div class="home-feature">
  <div class="feature-content">
    <h1>{{t 'index.headline'}}</h1>
    <h3>{{t 'index.subTitle'}}</h3>
    <div class="about-link">
      {{#link-to 'about'}}
        <img src="/images/banana_grabber.png">
      {{/link-to}}
    </div>
  </div>
</div>
